body{
    background-color: rgb(255, 255, 255);
}


.box1:hover{
    background-image: linear-gradient(to top, yellow, red, black);
    height: 100px;
    width: 100px;
}

.box1{
    background-color: black;
    height: 100px;
    width: 100px;
}

.box2:hover{
    background-color: yellow;
    height: 100px;
    width: 100px;
}

.box2{
    background-color: black;
    height: 100px;
    width: 100px;
}

.box3:hover{
    background-image: linear-gradient( to top, black, green, yellow);
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 8px green;
}

.box3{
    background-color: black;
    height: 100px;
    width: 100px;
}

